{% extends "layout.html" %}

{% block title %}
Viitteidenhallinta
{% endblock %}

{% block body %}

<h2>Viitteet</h2>

<div>
  <a href="/bibtex">Näytä BibTeX muodossa</a>
</div>

<ul>
  {% for reference in references %}
    <li style="display: flex">
      <div>
        <p>{{ reference }}</p>
        <pre>{{ reference.bibtex() }}</pre>
        <form action="/delete_reference" method="post">
          <input type="hidden" name="reference_id" value="{{ reference.id }}"/>
          <input type="hidden" name="reference_type" value="{{ reference.type }}"/>
          <button type="submit">
            Poista
          </button>
        </form>
      </div>
    </li>
  {% endfor %}
</ul>

<div>
  <a href="/new_reference">Lisää uusi viite</a>
</div>

{% endblock %}