{% extends "layout.html" %}

{% block title %}
Viitteidenhallinta
{% endblock %}

{% block body %}

<h2>Viitteet</h2>

<ul>
  {% for referenc in references %}
    <li style="display: flex">
      <div>
        {{ referenc }}
        <form action="/delete_reference" method="post">
          <input type="hidden" name="reference" value="{{ referenc }}"/>
          <button type="submit">
            Poista
          </button>
        </form>
      </div>
    </li>
  {% endfor %}
</ul>

<div>
  <a href="/new_reference">Lisää uusi viite</a>
</div>

{% endblock %}