{% extends "layout.html" %}

{% block title %}
Lisää viite
{% endblock %}

{% block body %}

<h2>Valitse viitetyyppi</h2>

<form action="/choose_reference" method="post">
  <input type="hidden" name="reference_type" value="book">
  <button type="submit">Kirja</button>
</form>

<form action="/choose_reference" method="post">
  <input type="hidden" name="reference_type" value="article">
  <button type="submit">Artikkeli</button>
</form>

<form action="/choose_reference" method="post">
  <input type="hidden" name="reference_type" value="inproceedings">
  <button type="submit">Inproceedings</button>
</form>

{% if reference_type == "book" %}

  <h2>Lisää kirjaviite</h2>

  <form action="/create_reference" method="post">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <label for="content">Teos:</label>
    <input type="text" name="title" id="title" >
    <br>
    <label for="content">Kirjoittanut:</label>
    <input type="text" name="author" id="author" >
    <br>
    <label for="content">Kustantaja:</label>
    <input type="text" name="publisher" id="publisher" >
    <br>
    <label for="content">Painosvuosi:</label>
    <input type="text" name="year" id="year" >
    <input type="hidden" name="reference_type" value="{{ reference_type }}"/>
    <br>
    <label for="content">Voluumi:</label>
    <input type="text" name="volume" id="volume" >
    <br>
    <label for="content">Numero:</label>
    <input type="text" name="number" id="number" >
    <br>
    <label for="content">Sarja:</label>
    <input type="text" name="series" id="series" >
    <br>
    <label for="content">Osoite:</label>
    <input type="text" name="address" id="address" >
    <br>
    <label for="content">Painos:</label>
    <input type="text" name="edition" id="edition" >
    <br>
    <label for="content">Kuukausi:</label>
    <input type="text" name="month" id="month" >
    <br>
    <label for="content">Merkintä:</label>
    <input type="text" name="note" id="note" >
    <br>
    <label for="content">Annotaatio:</label>
    <input type="text" name="annote" id="annote" >
    <br>
  
    <button type="submit">
      Lisää
    </button>
  </form>

{% elif reference_type == "article" %}

<h2>Lisää artikkeliviite</h2>

<form action="/create_reference" method="post">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <label for="content">Artikkeli:</label>
  <input type="text" name="title" id="title" >
  <br>
  <label for="content">Kirjoittanut:</label>
  <input type="text" name="author" id="author" >
  <br>
  <label for="content">Lehti:</label>
  <input type="text" name="journal" id="journal" >
  <br>
  <label for="content">Painosvuosi:</label>
  <input type="text" name="year" id="year" >
  <br>
  <label for="content">Volyymi:</label>
  <input type="text" name="volume" id="volume" >
  <br>
  <label for="content">Sivut:</label>
  <input type="text" name="pages" id="pages" >
  <input type="hidden" name="reference_type" value="{{ reference_type }}"/>
  <br>

  <button type="submit">
    Lisää
  </button>
</form>

{% elif reference_type == "inproceedings" %}

<h2>Lisää inproceedings-viite</h2>

<form action="/create_reference" method="post">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <label for="content">Otsikko:</label>
  <input type="text" name="title" id="title" >
  <br>
  <label for="content">Kirjoittanut:</label>
  <input type="text" name="author" id="author" >
  <br>
  <label for="content">Painosvuosi:</label>
  <input type="text" name="year" id="year" >
  <br>
  <label for="content">Kirjaotsikko:</label>
  <input type="text" name="booktitle" id="booktitle" >
  <input type="hidden" name="reference_type" value="{{ reference_type }}"/>
  <br>

  <button type="submit">
    Lisää
  </button>
</form>

{% endif %}

<div>
  <a href="/">Takaisin</a>
</div>

{% endblock %}