{% extends "layout.html" %}

{% block title %}
Lisää viite
{% endblock %}

{% block body %}

<h2>Lisää kirjaviite</h2>

<form action="/create_reference" method="post">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <label for="content">Teos:</label>
  <input type="text" name="title" id="title" minlength="1" maxlength="100" oninvalid="alert('Teoksen nimi tulee olla vähintään 1-100 merkkiä');" required>
  <br>
  <label for="content">Kirjoittanut:</label>
  <input type="text" name="author" id="author" minlength="1" maxlength="100" oninvalid="alert('Kirjailian nimi tulee olla vähintään 1-100 merkkiä');" required>
  <br>
  <label for="content">Painosvuosi:</label>
  <input type="text" name="year" id="year" minlength="4" maxlength="" oninvalid="alert('Vuosiluku tulee kirjoittaa muodossa xxxx');" required>
  <br>

  <button type="submit">
    Lisää
  </button>
</form>
<div>
  <a href="/">Takaisin</a>
</div>

{% endblock %}